<footer>
  <div class="container">
    <div class="footer-col">
      <span>By Kate 2021</span>
    </div>
    <div class="footer-col">
      <div class="social-bar-wrap">
        <a>
          <%= link_to 'Users', users_path %>
        </a>
        <a>
          <%= link_to 'Images', images_path %>
        </a>
        <a>
          <%= link_to 'Themes', themes_path %>
        </a>
      </div>
    </div>
  </div>
</footer>