<p class="lead ">
  <%= link_to t('.results_list'),
              results_list_path,
              :title=>"List all your results",
              locale: @current_locale,
              class: "double-border-button" %>
</p>