<p class="lead ">
  <%= link_to t('.results_list'),
              results_list_path,
              :title=>"List all your results",
              locale: @current_locale,
              class: "btn btn-secondary btn-sm button__left theme" %>
</p>